*{margin:0;padding:0;}
a{ outline:none;}
img{border:none;}
/* index */
#slide-index{min-width:1000px;width:auto; height:360px; overflow:hidden; position:relative;}
#slide-index .slides{ min-width:1000px; width:auto; height:360px; }
#slide-index .slide{ min-width:1000px; height:360px; float:left; position:relative; }
#slide-index .image{ z-index:1;position:absolute; }
#slide-index .text, #slide-index .button { z-index:2;position:absolute; top:-500px; }
#slide-index .button{ display:none; width:138px;}
#slide-index .control{ position:absolute; bottom:0px; width:100%; text-align:center; height:19px; cursor:pointer; z-index:40;}
#slide-index .control a{ width:11px; height:11px; cursor:pointer; display:inline-block; background-repeat:no-repeat; background:#fff; margin-right:6px; opacity:0.6; filter:alpha(opacity=60);}
#slide-index .control a:hover, #slide-index .control a.active{ background:#666; opacity:1; filter:alpha(opacity=100);}
.autoMaxWidth{ overflow:hidden; position:relative;height:232px; }

/*Add lijia*/
img{max-width: auto;}
.container .right .article span {
    height: 25px;
}

.container .right .article .top div.foreginTopBorder p span {
    float: left;
}

div.previous a.pv{
    background-image: url("/cefls/images/container.jpg");
    color: #FFFFFF;
    display: inline-block;
    font-size: 18px;
    height: 26px;
    margin-top: 10px;
    padding-top: 4px;
    text-decoration: none;
    width: 120px;
}

.container .right .article .top div.foreginTopBorder p span {
    width: 190px;
}
/*
.container .right .article .middle div.numberOne {
    height: auto;
}
*/
.certificateslist a.certImg img{
    width:140px;height:115px;
}
[class*="span"] {
    margin-left: 0;
}


.container .right .article .bottom {
    height: 80px;
}
div.middle div.imglist{
    margin-left: 20px;
}
.list-view {
    clear:both;
}
